*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    margin: 10px 35px;
}
.nav span{
    color: black;
    font-weight: normal;
    margin-left: 5px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 25px;
}
.back-image{
    display: flex;
    background-image: url(./images/photo_2023-03-16_16-05-55.jpg);
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat;
    background-size: cover;
}
.back-image{
    color: white;
}
.back-image .First-sec{
    margin-right: 5px;
    background-color: rgb(0, 0, 0 ,0.5);
    padding: 6px;
}
.Projects h1{
    font-weight: bold;
}
.Projects h1,hr{
    margin: 10px 35px;
}
.Projects .container{
    margin: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Projects .image-item{
    position: relative;
    width: 48%;
}
.Projects .image-item img{
    width: 100%;
}
.Projects .image-item .title{
    position: absolute;
    top: 0;
    background-color: black;
    left: 0;
    color: white;
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
}
.About .container .about-h1,.about-p{
    margin: 10px 35px;
}
.About .container h1{
    font-weight: bold;
}
.About .container p{
    line-height: 18px;
    font-size: 16px;
}
.card .container{
    margin: 20px 35px;
    display: flex;
}
.card .container .card-item {
    margin-left: 20px;
}
.card .container .card-item img{
    background-size: cover;
    width: 100%;
}
.card .container .card-item .job{
    color: rgb(100, 93, 93);
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card .container .card-item .btn{
    background-color: rgb(227 214 214 / 50%);
    color: black;
    font-weight: 800;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
}
.contact .container{
    display: block;
}
.contact .container h1,hr,input,textarea,.contact-btn{
    margin: 10px 35px;
}
.contact .container h1{
    font-weight: bold;
}
.contact .container hr{
    width: 95%;
}
.contact .container input,textarea{
    width: 95%;
}
.contact .container input{
    height: 30px;
    padding: 15px;
    border-radius: 5px;
    border:1px solid rgb(134, 127, 127);
}
.contact .container textarea{
    height: 50px;
    border-radius: 5px;
}
.contact .container button{
    background-color: black;
    color: white;
    width: 80px;
    height: 35px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}
.footer{
    background-color: black;
    color: white;
    height: 30px;
    line-height: 160%;
    text-align: center
}
.footer span{
    color: gold;
}

